@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
/* 
*page name 眠貓咖啡屋 首頁
*copyright 2024
*author 余盈蓁 陳星璇
*licensed
*/
html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
html {
    font-size: 62.5%;
  }
  
body{
    margin:0;
    font-size: 1.6rem;
    line-height: 1.4;
    font-family: '微軟正黑體',arial;/* 新增字體設定 前面微軟正黑體為主要字體，後面為替補字體 */
    overflow-x: hidden;
}
/* 字體設定 */
h1,h2{
    font-family: "cwTeXFangSong", serif;
    /* font-size:calc( 100vw * 80 / 1920 ); */
}
h3,h4,h5,h6 {
    font-family: "微軟正黑體", serif;
    font-weight: normal; /* 取消粗體 */
    /* font-size:calc( 40vw * 80 / 1920 ); */
}

/* 變數管理 */
:root {
    /* 定義變數 */
    --navbar-height: 72px;
    --w-navbar: 80px;
    
    --sunmoon-size:90px;
    --sunmoon-height: 23%;
    --first-logo-height: 62%;
    /* --first-logo-height: calc(65% - (10vw / 2)) ; */
}


/* 指定顏色變數 */
/* $colorBlueRoofLight: #6fc5ff
$colorBlueRoofDark: #0058ff

$colorGreyLight: #fafaf5
$colorGreyNormal: #e3e2cf
$colorGreyDark: #bebdaf
$colorBackground: #2C2F36

$colorShadowBlue: #7cb1ff
$colorShadowBlueLight: #8dc9fc

$colorWindowGrey: #534d4d */


/* ------------------------- *\ 
    星星動畫
\* ------------------------- */



.scene {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* border-radius: 15px; */
    overflow: hidden;
    background: linear-gradient(#1D2B49, #1A45A0, #91cdff, #fff);
    background-size: 100% 300%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 0;
}

.allstars {
    width: 100%;
    height: 100%;
    border-radius: 0;
    position: absolute;
    left: 0;
    top: 0;
}
@-webkit-keyframes falling {
  0%, 100% {
   opacity: 0;
  }
  70% {
 opacity: 1;
  }
  0% {
    transform: translate(100px, 0px);
  }
  100% {
    transform: translate(0px, 200px);
  }
}
@keyframes falling {
  0%, 100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    transform: translate(100px, 0px);
  }
  100% {
    transform: translate(0px, 200px);
  }
}
  .allstars [class^=star] {
    width: calc(0.25vw * 240 / 414);
    height: calc(0.25vw * 240 / 414);
    border-radius: 50%;
    background-color: #fff;
    -webkit-animation: falling 2s infinite;
            animation: falling 2s infinite;
  }
  .allstars .star1 {
    position: absolute;
    left: 31%;
    top: -1%;
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
  }
  .allstars .star2 {
    position: absolute;
    left: 67%;
    top: -27%;
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
  .allstars .star3 {
    position: absolute;
    left: 23%;
    top: -9%;
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .allstars .star4 {
    position: absolute;
    left: 33%;
    top: 10%;
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
  }
  .allstars .star5 {
    position: absolute;
    left: 2%;
    top: -13%;
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
  }
  .allstars .star6 {
    position: absolute;
    left: 13%;
    top: -21%;
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
  }
  .allstars .star7 {
    position: absolute;
    left: 88%;
    top: -15%;
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s;
  }
  .allstars .star8 {
    position: absolute;
    left: 88%;
    top: 35%;
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
  }
  .allstars .star9 {
    position: absolute;
    left: 66%;
    top: 2%;
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
  }
  .allstars .star10 {
    position: absolute;
    left: 64%;
    top: 42%;
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
  }
  .allstars .star11 {
    position: absolute;
    left: 78%;
    top: 26%;
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
  }
  .allstars .star12 {
    position: absolute;
    left: 60%;
    top: -2%;
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s;
  }
  .allstars .star13 {
    position: absolute;
    left: 47%;
    top: 7%;
    -webkit-animation-delay: -1.3s;
            animation-delay: -1.3s;
  }
  .allstars .star14 {
    position: absolute;
    left: 95%;
    top: 30%;
    -webkit-animation-delay: -1.4s;
            animation-delay: -1.4s;
  }
  .allstars .star15 {
    position: absolute;
    left: 38%;
    top: -23%;
    -webkit-animation-delay: -1.5s;
            animation-delay: -1.5s;
  }
  .allstars .star16 {
    position: absolute;
    left: 87%;
    top: 43%;
    -webkit-animation-delay: -1.6s;
            animation-delay: -1.6s;
  }
  .allstars .star17 {
    position: absolute;
    left: 10%;
    top: 47%;
    -webkit-animation-delay: -1.7s;
            animation-delay: -1.7s;
  }
  .allstars .star18 {
    position: absolute;
    left: 20%;
    top: -19%;
    -webkit-animation-delay: -1.8s;
            animation-delay: -1.8s;
  }
  .allstars .star19 {
    position: absolute;
    left: 96%;
    top: 20%;
    -webkit-animation-delay: -1.9s;
            animation-delay: -1.9s;
  }
  .allstars .star20 {
    position: absolute;
    left: 56%;
    top: -26%;
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
  }
  .allstars .star21 {
    position: absolute;
    left: 36%;
    top: 21%;
    -webkit-animation-delay: -2.1s;
            animation-delay: -2.1s;
  }
  .allstars .star22 {
    position: absolute;
    left: 90%;
    top: 5%;
    -webkit-animation-delay: -2.2s;
            animation-delay: -2.2s;
  }
  .allstars .star23 {
    position: absolute;
    left: 49%;
    top: -2%;
    -webkit-animation-delay: -2.3s;
            animation-delay: -2.3s;
  }
  .allstars .star24 {
    position: absolute;
    left: 84%;
    top: 20%;
    -webkit-animation-delay: -2.4s;
            animation-delay: -2.4s;
  }
  .allstars .star25 {
    position: absolute;
    left: 63%;
    top: 12%;
    -webkit-animation-delay: -2.5s;
            animation-delay: -2.5s;
  }
  .allstars .star26 {
    position: absolute;
    left: 29%;
    top: -7%;
    -webkit-animation-delay: -2.6s;
            animation-delay: -2.6s;
  }
  .allstars .star27 {
    position: absolute;
    left: 44%;
    top: -5%;
    -webkit-animation-delay: -2.7s;
            animation-delay: -2.7s;
  }
  .allstars .star28 {
    position: absolute;
    left: 7%;
    top: -12%;
    -webkit-animation-delay: -2.8s;
            animation-delay: -2.8s;
  }
  .allstars .star29 {
    position: absolute;
    left: 25%;
    top: -9%;
    -webkit-animation-delay: -2.9s;
            animation-delay: -2.9s;
  }
  .allstars .star30 {
    position: absolute;
    left: 57%;
    top: 4%;
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
  }
  .allstars .star31 {
    position: absolute;
    left: 15%;
    top: 20%;
    -webkit-animation-delay: -3.1s;
            animation-delay: -3.1s;
  }
  .remind {
    opacity: 0.2;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  
.sun, .moon {
    /* 大小設定 */
    width: var(--sunmoon-size);
    height: var(--sunmoon-size);
    border-radius: 50%;

    /* 位置設定 */
    position: absolute;
    transform: translate(-50%, -50%); /* 精確居中 */
    top: var(--sunmoon-height); /* 日月高度 */
    left: 50%; /* 容器寬度的一半 */
}

.sun {
    background-color: #ffdd38;
    box-shadow: 0px 0px 20px rgba(255, 221, 56, 0.5);
    top: 50%;
    opacity: 0;/* 設置元素的透明度 */
}

.moon {
    left: calc(50% + 6px);
    -webkit-animation: moonAppear 5s both;
            animation: moonAppear 5s both;
}

.dayimg,  .nightimg {
    position: relative; /* 確保跟隨父容器定位 */
    width: 100%;
    height: auto;
    transition: opacity 2s ease-in-out;
}

.dayimg {
    opacity: 0;
}


  
  @-webkit-keyframes moonAppear {
    0% {
      box-shadow: inset 0px 0px rgba(255, 255, 255, 0.9);
    }
    100% {
      box-shadow: inset 10px -10px rgba(255, 255, 255, 0.9);
    }
  }
  
  @keyframes moonAppear {
    0% {
      box-shadow: inset 0px 0px rgba(255, 255, 255, 0.9);
    }
    100% {
      box-shadow: inset 10px -10px rgba(255, 255, 255, 0.9);
    }
  }

@keyframes logoChange{
    0% { opacity: 0; }
    100% { opacity: 1; }
}


  h1, h5, p, .moon, .sun, .scene, .allstars {
    transition: 2s;
  }
  
  input:checked + .scene {
    background-position: 0 100%;
  }
  /* input:checked + .scene .nightimg {
    display: none;
  }
  input:checked + .scene .dayimg {
    display: block;
  } */
  input:checked + .scene .nightimg {
    opacity: 0;
    z-index: 1;
}

input:checked + .scene .dayimg {
    opacity: 1;
    z-index: 2;
}

  input:checked + .scene .allstars {
    opacity: 0;
  }
  input:checked + .scene span {
    color: #634a39;
  }
  input:checked + .scene .moon {
    top: -100px;
    opacity: 0;
  }
  input:checked + .scene .sun {
    top: var(--sunmoon-height);
    opacity: 1;
  }
  
  input {
    display: none;
  }

/* ------------------------- *\ 
    首圖上圖樣與文字
\* ------------------------- */

.first-L-title {
    /* 容器本身定位 */
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
    gap: 20px; /* 控制 Logo 和標題間距 */

    /* 內容物定位 */
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, -50%); /* 精確居中 */
    top: var(--first-logo-height); /* 容器高度的一半 */
    left: 50%; /* 容器寬度的一半 */
    z-index: 999;

    /* 字體設定 */
    font-family: "cwTeXFangSong", serif;
}

/* 首圖Logo 圖片 */
.container-logo{
    
    /* justify-content: center;  
    align-items: center;     */
    
    position: relative; /* 父容器設置相對定位 */
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    width: 100%; /* 設置寬度 */
    height: 300px; /* 設置高度 */
}

.container-logo img { 
    position: absolute; /* 子圖片絕對定位 */
    width: 320px;
    height: auto;
    vertical-align: top;
}

.container-headline {
    /* position: absolute;
    transform: translate(-50%, 80%); */
    display: flex;
    justify-content: center;
    /* 水平居中 */
    gap: 5px; /* 調整標題字之間的距離 */
}
.common-headline__title {
    /* font-size: 72px; */
    font-size: calc(100vw * 72 / 1920);
    color: white;/* 顏色 */
    font-weight: 400;
    letter-spacing: 0.1em;
}
.s-text{
    /* font-size: 24px; */
    font-size: calc(100vw * 24 / 1920);
    color: rgb(176, 176, 176);
}

/* .common-headline__title::before, .common-headline__title::after {
    width: calc( 100vw * 54 / 1920 	);
    display: block;
    border: 3px solid rgb(176, 176, 176);
    content: "";
  } */

.cafe-house{
    z-index: 99;
    position: absolute; /* 讓圖片可以進行絕對定位 */
    bottom: 0; /* 貼於容器底部 */
    left: 49%; /* 水平置中 */
    transform: translateX(-50%); /* 修正水平置中偏移 */
    width: auto; /* 確保寬高比例不變 */
    height: 50%; /* 根據容器高度調整圖片大小 */
    object-fit: cover; /* 確保圖片填滿容器，並裁剪超出部分 */
}
.mv__scroll {
    position: absolute;
    right: calc(100vw * 40 / 1920);
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


/* 文字縮放動畫 */
.common-headline__title:nth-child(1) {
  -webkit-transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(1 * 0.06s);
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(1 * 0.06s);
}
.common-headline__title:nth-child(2) {
  -webkit-transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(2 * 0.06s);
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(2 * 0.06s);
}
.common-headline__title:nth-child(3) {
  -webkit-transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(3 * 0.06s);
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(3 * 0.06s);
}
.common-headline__title:nth-child(4) {
  -webkit-transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(4 * 0.06s);
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(4 * 0.06s);
}
.common-headline__title:nth-child(5) {
  -webkit-transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(5 * 0.06s);
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(5 * 0.06s);
}
.common-headline__title:nth-child(6) {
  -webkit-transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(6 * 0.06s);
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(6 * 0.06s);
}
.common-headline__title:nth-child(7) {
  -webkit-transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(7 * 0.06s);
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(7 * 0.06s);
}
.common-headline__title:nth-child(8) {
  -webkit-transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(8 * 0.06s);
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(8 * 0.06s);
}
.common-headline__title:nth-child(9) {
  -webkit-transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(9 * 0.06s);
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(9 * 0.06s);
}
.common-headline__title:nth-child(10) {
  -webkit-transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(10 * 0.06s);
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(10 * 0.06s);
}
.common-headline__title:nth-child(11) {
  -webkit-transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(11 * 0.06s);
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) calc(11 * 0.06s);
}

/* ------------------------- *\ 
    Layout
\* ------------------------- */

.mask-dark{
    /* 注意權重，以及遮罩寫的位置 */
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ------------------------- *\ 
    button 按鈕設定
\* ------------------------- */


/* 主要按鈕 深色底用 */
.btn{
    display: inline-block;
    vertical-align: top;
    /* 文字設定 */
    text-decoration:none;
    color: white;
    font-size: 34px;
    /* 空間設定 */
    line-height: 24px;
    padding: 4px 16px;
    border-radius: 100px;
    /* 其他設定 */
    transition: all 0.3s;
}
.btn.btn-primary{
    border: 3px solid #FBFBFB;
    color: white;
}
.btn.btn-primary:hover{
    border-radius: 100px;
    font-size: 34px;
    background-color: #FBFBFB;
    border: 2px solid #FBFBFB;
    color: #022961;
}
.btn.btn-primary:active {
    background-color: #b5b6bc; /* 被按下時改變背景顏色 */
    border: 2px solid #FBFBFB;
    transform: translateY(2px); /* 向下移動 */
}
/* 訂位區按鈕大小 設定 */
.btn.btn-lg{
    padding: 40px 100px;
}


/* 主要按鈕 淺色more底用 */
.btn-setting-more{
    display: inline-block;
    vertical-align: top;
    /* 文字設定 */
    text-decoration:none;
    color: #443226;
    font-size: 24px;
    /* 空間設定 */
    line-height: 24px;
    padding: 4px 16px;
    border-radius: 18px;
    /* 其他設定 */
    transition: all 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 設置陰影 */
}
.btn-setting-more.btn-more{
    background-color: #F2E7C9;
}
.btn-setting-more.btn-more:hover{
    background-color: #F3E896;
}
.btn-setting-more.btn-more:active{
    background-color: #CABB93; /* 被按下時改變背景顏色 */
    color: white;
    transform: translateY(2px); /* 向下移動 */
}
/* more按鈕大小 設定 */
.btn-setting-more.btn-moresize{
    padding: 24px 55px;
}

/* ------------------------- *\ 
    navbar 導覽列
\* ------------------------- */

/* navbar下面的小弧形 */
.navbar::before {
    width: 65px;
    height: 280px;
    position: absolute;
    top: calc(var(--navbar-height) - 0.5px);
    transform-origin: left top;
    transform: scaleY(-1) rotate(-90deg);

    display: block;
    background-image: url(../images/gnav_bg.svg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    z-index: 1;
}

.navbar{/* 導覽列大框架 */
    height: var(--navbar-height);/* 高度 */
    background-color:rgba(250,247,237,1);/* 將hex色彩轉成rgba，最後一個數值為透明度 */
    display: flex;
    position: fixed;
    z-index: 99;
    width: 100%;
    left: 0;
    top: 0;
    justify-content: space-between;/* logo 導覽按鈕左右分開 */
    align-items: center;/* 居中對齊 */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);/* 陰影 */
}

/* 左側logo與title處 */
.logo {
    z-index: 8;
    margin-top: 20px;
    margin-left: 30px;
    transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.logontitle{/* logo & title */
    display: flex;
    align-items: center;
}
/* logo圖 */
.logo img{
    width: var(--w-navbar);
    height: auto;
    padding-top: 50px;
}
.header-title{
    margin:0;
    margin-left: 10px;
    color: #443226;
    font-family: "cwTeXFangSong", serif;
    font-size: calc( 35vw * 100 / 1920 	);
    font-weight: 400;
}

/* 右邊的導覽按鈕區 */

.nav{/* 右邊的導覽按鈕框架 */
    display: block;
    line-height: 24px;
    padding: 20px 16px;
    transition: color 0.3;
    align-items: center;

    padding-right: 30px;
} 
.nav-item{ /* 每個導覽按鈕的設定 */
    /* 字設定 */
    font-family: "cwTeXFangSong", serif;
    font-size: calc( 100vw * 24 / 1920 	);;
    /* 空間設定 */
    align-items: center;
    display: inline; /*對物件本身 */
    margin-right: 30px;
    
} 
.nav-text{
    color: #443226;
    padding: 20px 16px;
    text-decoration: none;
}
.nav-text:hover{
    color:#6ee7ff;
}
.nav-text:active{
    color:#438e9d;
    transform: translateY(2px);
}


/* ------------------------- *\ 
    body 主內容
\* ------------------------- */

     /* ------------------------- *\ 
          about 
     \* ------------------------- */
.about-specials{
    background-image: url("../images/milkyway_about_specials.jpg");
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.about-img{
    margin-top: 30px;
    border-radius: 18px;
}
.about{
    color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-title{
    margin-top: 216px;;
}

    /* ------------------------- *\ 
        specials
    \* ------------------------- */
.specials{
    color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.specials-title{
    margin-top:216px;
}


/* ------------------------- *\ 
    reservation 訂位連結區
\* ------------------------- */


.reservation {
    color: #ffffff;
    height: 610px;
    background-image: url("../images/home_reservation.png");
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* 讓遮罩層和文字層的定位生效 */
}
.reservation > *:not(.mask-dark) {
    position: relative;
    z-index: 2; /* 讓文字和按鈕位於遮罩層上方 */
}

.reservation-title{
    margin-top:123px;
}


/* ------------------------- *\ 
    map 地圖與資訊區
\* ------------------------- */


.map{
    color:#ffffff;
    background-color: #022961;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.map-title{
    margin:0;
    padding-top: 55px;
}
.contactngoogle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:50px
}
.contact-text{
    line-height: 8px;
    margin-right: 200px;
}
/* .googlemap{
    margin-left: 10px;
} */


/* ------------------------- *\ 
    footer 頁尾
\* ------------------------- */


footer{
    background-color: #04172A;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;/* 居中對齊 */
    padding:20px 20px 20px 60px;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-item{
    align-items: center;
    display: inline; /*對物件本身 */
    margin-right: 50px;
}
